@model IEnumerable<LotterySyndicate.Models.Transaction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Purchase", "Create")
    

</p>

<div id="chart"></div> 


<div class="orangeContainer"></div>

<div class="asterGraph"></div>

<div class="ticketsPerUser d-inline-block"></div>



<svg width="960" height="500"></svg>






<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<script src="~/Scripts/ticketsPerUserGraph.js"></script>

<script>


    //svgExample();
    //visualiseOranges();
    importData();
    barChart();
    asterGraph();
    
</script>





@*@Html.Partial("GetTotals")
@Html.Partial("ListAndSort")*@

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfTickets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransactionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactionID })
        </td>
    </tr>
}

</table>*@


