@model IEnumerable<LotterySyndicate.Models.Transaction>
@using Newtonsoft.Json;
@using LotterySyndicate.Models;
@using System.Net;
@using System.IO;



@{
    ViewBag.Title = "Index";
    var url = "https://localhost:44327/api/webapi";
    string json = new WebClient().DownloadString(url);



    var assestsPerUser = JsonConvert.DeserializeObject<List<UniqueUsersTransactions>>(json);
}

<h2>Index</h2>

<p>
    @Html.ActionLink("View all transactions", "ShowAll")
    
</p>



<div class="col-md-6">
    <p>
        @{
            foreach (var item in assestsPerUser)
            {

                if (item.User == User.Identity.Name)
                {
                    var userAmountDividedByTotalAmount = (item.AmountCount / ViewBag.TotalAmount);

                    var prizeShare = userAmountDividedByTotalAmount * ViewBag.FirstPrize;
                    <h3>Your Potential Winnings: £@Math.Round(prizeShare, 2)</h3>
                }

            }
        }

        <br />
        <h4>Welcome to the c5 Christmas Lottery Syndicate!</h4>
        Here you will be able to see:
        <br />
        - How many tickets we collectively own
        <br />
        - How much money we have collectively spent
        <br />
        - Your potential 1st prize winnings compared to the rest of the syndicate participants
    </p>
    <br />
    <table class="table">
        <tr>
            <td>
                <h3>Total Tickets in Syndicate</h3>
            </td>
            <td>
                <h3>@ViewData["TotalTickets"]</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Total Spent</h3>
            </td>
            <td>
                <h3>@ViewData["TotalAmount"]</h3>
            </td>
        </tr>
        <tr>
            <td>
                <h3>First Prize</h3>
            </td>
            <td>
                <h3>@ViewData["FirstPrize"]</h3>
            </td>
        </tr>
    </table>

    
</div>

<div class="col-md-1"></div>

<div class="asterGraph col-md-5"></div>

<br />
<br />



<div class="col-md-5">
    <table class="table">
        @{
            <tr>
                <th>

                </th>
                <th>
                    Ticket Share (%)
                </th>
                <th>
                    Prize Share (£)
                </th>
            </tr>



            foreach (var item in assestsPerUser)
            {
                <tr>
                    <td>
                        @{
                            int indexAt = item.User.IndexOf('@');
                            int indexDot = item.User.IndexOf('.');
                            string name = item.User.Substring(0, indexDot) + " " + item.User.Substring((indexDot + 1), (indexAt - (indexDot + 1)));
                        }
                        @name
                    </td>
                    <td>
                        @{
                            var userAmountDividedByTotalAmount = (item.AmountCount / ViewBag.TotalAmount);
                            var percentageUserAmountDividedByTotalAmount = userAmountDividedByTotalAmount * 100;
                        }
                        @Math.Round(percentageUserAmountDividedByTotalAmount, 2)
                    </td>
                    <td>
                        @{
                            var prizeShare = userAmountDividedByTotalAmount * ViewBag.FirstPrize;
                        }
                        @Math.Round(prizeShare, 2)
                    </td>
                </tr>
                            }
        }
    </table>
</div>

<div class="col-md-1"></div>

<div class="horizontalBarChart d-inline-block col-md-6"></div>



<div class="ticketsPerUser d-inline-block col-md-6"></div>









<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

<script src="~/Scripts/ticketsPerUserGraph.js"></script>

<script>


    
    barChart();
    horizontalBarChart();
    asterGraph();
    
</script>






