@model IEnumerable<LotterySyndicate.Models.Transaction>

@{
    ViewBag.Title = "All Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Action("ShowThisWeek", "Transactions")
@Html.Action("ShowLastWeek", "Transactions")


<h2>All Transactions</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfTickets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeStamp)
        </th>
        
    </tr>
    @{
        var totalAmount = 0;
        var totalCount = 0;


    }
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfTickets)
                @{
                    totalCount = totalCount + (int)item.NumberOfTickets;
                }
            </td>
            <td>
                £@Html.DisplayFor(modelItem => item.Amount)
                @{
                    totalAmount = totalAmount + (int)item.Amount;
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
        </tr>
    }
    <tr>
        <td>
            <b>Total</b>
        </td>
        <td>
            <b>@totalCount</b>
        </td>
        <td>
            <b>£@totalAmount</b>
        </td>
        <td></td>
    </tr>
</table>